@charset "utf-8";

#header
{
	text-align: center;
}

#nav
{
	background-color: #FF6600;
}

#nav_wrapper
{
	width: 960px;
	margin: auto;
	text-align: left;
	
}

#nav ul {
    list-style-type: none;
    margin-right: 0;
    padding:0;
	text-align:right;
	position: relative;
}

#nav ul li {
    display: inline-block;
	
}

#nav ul li:hover{
	background-color: #333;
	transition: ease-in all 300ms;
}

#nav ul li a,visited{
	color: white;
	display: block;
	padding:15px;
	text-decoration: none;
}

#nav ul li a:hover{
	color: #ccc;
	text-decoration: none;
}	

#nav ul li:hover ul{
	display: block;
}

#nav ul ul{
	display: none;
	position: absolute;
	background-color: #FF6600;
	text-align:left;
	border: 2px solid #222;
	min-width: 120px;
	
}

#nav ul ul li{
	display: inline-block;
}

#nav ul ul li a,visited{
	color:#ccc;
}

#nav ul ul li a:hover{
	color: #099;
}	

#body{
	margin: 0;
	padding: 1px;
	background-color: #FFCC66;
}
	